{% extends 'base.html.twig' %}
{% block title %}
    {{ article.titre }}
{% endblock%}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ article.titre}}</h1>
                            <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">Start Bootstrap</a>
                                on {{ article.dateCreation|date('d/m/Y') }}
                                {% if is_granted('ROLE_ADMIN', object = null, field = null) %}
                                    <p><a href = "{{ path ('edition_article', { id : article.id }) }}" class="btn btn-info">Editer</a></p>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {{ article.contenu|markdown_to_html }}
                        <p>
                            Placeholder text by
                            <a href="http://spaceipsum.com/">Space Ipsum</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                        </p>
                    </div>
                </div>
            </div>
            <div>
            <p>{{ article.contenu|striptags|title }}<p>
            </div>
        </article>
     
    <h2>Comentaires</h2>
    <div class="row">
    {% for comment in article.comments %}
        <div class="col-md-12">
            <small>Le {{ comment.dateComment|date("d/m/Y") }} par {{ comment.author }}</small>
            <p>{{ comment.contenu }}</p>
        </div>
    {% endfor %}
    {{ form_start(form) }}
        {{ form_label(form.contenu, null, {'label_attr': {class:'form-label'}}) }}
        {{ form_widget(form.contenu, {'attr': {class:'form-control'}}) }}

        {{ form_label(form.author, null, {'label_attr': {class:'form-label'}}) }}
        {{ form_widget(form.author, {'attr': {class:'form-control'}}) }}
        
        
        <button type="submit" class="btn btn-success mt-2 mb-5">Enregistrer</button>
    {{ form_end(form) }}
        
    {{ form_end(form) }}
    </div>
{% endblock %}