<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{{ path('liste_article')}}">Accueil</a>
        {% if is_granted('ROLE_ADMIN', object = null, field = null) %}
        <a class="nav-link active" href="{{ path('ajout_article')}}">Ajout Article</a>
        <a class="nav-link active" href="{{ path('liste_article_brouillon')}}">Liste Brouillons</a>
        <a class="nav-link disabled">Disabled</a>
        {% endif %}
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="nav-link active" href="{{ path('app_logout')}}">Déconnexion</a>
        {% else %}
          <a class="nav-link active" href="{{ path('app_login')}}">Connexion</a>
        {% endif %}
        
      </div>
    </div>
  </div>
</nav>